
extends layout

block content
  div
    h2 History for
      strong(class='keyName') #{officeKey.key_name} 
  table(class='keysList pure-table pure-table-striped')
    thead 
      tr
        th Date
        th Transfer from
        th Transfer to
    tbody 
      for one in transfers
        tr
          td #{moment(one.transfer_date).format('ddd MMM D')} 
            span(class='time') #{moment(one.transfer_date).format('HH:mm')}
          td #{one.previous_holder}
          td #{one.next_holder}
  p
      a(href='/admin' class='button-secondary pure-button inline') back  