extends layout

block content
  div(class='right-menu') 
    a(href='/admin/key/add', class='button-secondary pure-button inline') New key
    a(href='/transfer', class='button-secondary pure-button inline') Make transfer
  h2= title
  table(class='keysList pure-table pure-table-striped')
    thead 
      tr
        th Key name 
        th Current holder
        th Holding since
        th Previous holder
        th 
    tbody 
      for one in keys
        tr
          td 
            a(href='/admin/key/view?key_id=' + one._id class='keyName' title='See trasfers history') #{one.key_name}
          td #{one.current_holder}
          td #{moment(one.last_transfer_date).format('MMM D YYYY HH:mm')}
          td #{one.previous_holder}
          td 
            a(href='/admin/key/delete?key_id=' + one._id) Delete


