
extends layout

block content
  div
    h2 History for
      strong(class='keyName') #{officeKey.key_name} 
  table(class='keysList pure-table pure-table-striped')
    thead 
      tr
        th Date
        th Transfer from
        th Transfer to
    tbody 
      for one in transfers
        tr
          td #{moment(one.transfer_date).format('ddd MMM D')} 
            span(class='time') #{moment(one.transfer_date).format('HH:mm')}
          td #{one.previous_holder}
          td #{one.next_holder}
  p
    a(href='/admin' class='button-secondary pure-button') back  


  h2(class='editKeyForm') Edit key name
  form(class='pure-form pure-form' action='/admin/key/update' method='post')
      div(class='pure-control-group')  
        input(type='hidden' name='key_id' value=officeKey._id) 
        label(for='keyName') Key name:    
        input(type='text' id='keyName' name='key_name' value=officeKey.key_name) 
        button(class='button-secondary pure-button inline') Save
  h2(class='editKeyForm') Danger zone
  form(class='pure-form pure-form' action='/admin/key/delete' method='post')
      div(class='pure-control-group')  
        label(for='delete')    
          input(type='checkbox' id='delete' name='key_id' value=officeKey._id) 
          | Delete this key     
        button(class='button-error pure-button inline') Delete