extends layout

block content
  h2
    a(href='/admin/key/add', class='button-secondary pure-button inline') +
    | 
    | #{title}
  div(class='only-desktop')
    table(class='keysList pure-table pure-table-striped')
      thead 
        tr
          th Key name (private)
          th Short name
          th Current holder
          th Holding since
          th Previous holder
      tbody 
        for one in keys
          tr
            td 
              a(href='/admin/key/view?key_id=' + one._id class='keyName' title='See key details') #{one.key_name}
            td #{one.short_name}
            td #{one.current_holder}
            td #{moment(one.last_transfer_date).format('ddd MMM D')} 
              span(class='time') #{moment(one.last_transfer_date).format('HH:mm')}
            td #{one.previous_holder}
           
  div(class='only-mobile pseudoTable')  
    for one in keys
      div(class='mobileRow')
        span(class='keyNameRow')
          span(class='small') #{one.short_name}
          a(href='/admin/key/view?key_id=' + one._id class='keyName' title='See key details') #{one.key_name}
          span
            span(class='small') with  
            | #{one.current_holder}
        span(class='keyInfoRow') 
          span 
            span(class='small') since  
            | #{moment(one.last_transfer_date).format('ddd MMM D')} 
            span(class='time') #{moment(one.last_transfer_date).format('HH:mm')} 

