
extends layout

block content
  div
    h2 History for
      strong(class='keyName') #{officeKey.key_name} 
  table(class='keysList pure-table pure-table-striped')
    thead 
      tr
        th Date
        th Transfer from
        th Transfer to
    tbody 
      for one in transfers
        tr
          td #{moment(one.transfer_date).format('ddd MMM D')} 
            span(class='time') #{moment(one.transfer_date).format('HH:mm')}
          td #{one.previous_holder}
          td #{one.next_holder}
  p
    a(href='/admin' class='button-secondary pure-button') back  


  div(class='dangerZone')
    h2 Danger zone
    form(class='pure-form pure-form' action='/admin/key/delete' method='post')
        div(class='pure-control-group')      
          input(type='checkbox' id='delete' name='key_id' value=officeKey._id)  
          | 
          label(for='delete') Delete this key       
          button(class='button-error pure-button inline') Approve