
extends layout

block content
  h2 Key  
    strong(class='keyName') #{officeKey.key_name}
  
  div(class='panelBoard')
    
    div(class='panel')
      h3 Transfer history 
      
      div(class='pseudoTable')
        for one in transfers
          if (one.previous_holder=='- created -')
            div(class='mobileRow')
              span(class='keyNameRow') 
                span(class='small') started with  
                | #{one.next_holder} 
              span(class='keyInfoRow') 
                span 
                  span(class='small') on #{moment(one.transfer_date).format('ddd MMM D')} 
                  span(class='time') #{moment(one.transfer_date).format('HH:mm')} 
          else 
            div(class='mobileRow')
              span(class='keyNameRow') 
                span(class='small') from #{one.previous_holder} 
                span(class='small') to  
                | #{one.next_holder} 
              span(class='keyInfoRow') 
                span 
                  span(class='small') on #{moment(one.transfer_date).format('ddd MMM D')} 
                  span(class='time') #{moment(one.transfer_date).format('HH:mm')}           
    
    div(class='panel')
      h3(class='editKeyForm') Edit key details
      form(class='pure-form pure-form-aligned' action='/admin/key/update' method='post' encType="multipart/form-data")
          div(class='pure-control-group')  
            input(type='hidden' name='key_id' value=officeKey._id) 
            label(for='keyName' class='keyNameLabel') Key name:    
            input(type='text' id='keyName' name='key_name' value=officeKey.key_name) 
          div(class='pure-control-group')    
            label(for='shortName' class='keyNameLabel') Short name:    
            input(type='text' id='shortName' name='short_name' value=officeKey.short_name)
          div(class='pure-control-group')    
            input(class='copy' type="hidden" id='keyLink' value='https://glanz-berlin.de/k?id=' + officeKey._id)
            button(type='button' id='saveIcon' class='copy pure-button button-secondary' onclick='navigator.clipboard.writeText(document.getElementById("keyLink").value);document.getElementById("copiedIcon").classList.remove("hidden");document.getElementById("saveIcon").classList.add("hidden");')
                | &#128190; Copy URL
            if (officeKey.qr_code.data_url)
              a(href='/admin/qr/one?key_id=' + officeKey._id class='copy pure-button button-secondary')
                img(class='qrCodeImg' src=officeKey.qr_code.data_url)
                span Show QR code
            else
              span(id='fileInfo'  title='QR code missing') - no QR code -
          div(class='pure-control-group')
            button(class='pure-button-primary pure-button') Save details

    div(class='panel')
      h3(class='editKeyForm') Danger zone
      form(class='pure-form pure-form' action='/admin/key/delete' method='post')
          div(class='pure-control-group')  
            label(for='delete')    
              input(type='checkbox' id='delete' name='key_id' value=officeKey._id) 
              | Delete this key   
          div(class='pure-control-group')        
            button(class='button-error pure-button') Delete


  p(class='bottom')
    a(href='/admin' class='button-secondary pure-button') back to list         