extends layout

block content
  form(class='keyTransfer pure-form' action='/key/submit' method='post') 
    h2= title     
    div(class='pure-control-group')
        label(class='keySelect' for='key-location') Which key? 
        if (selectedKey)
          span(class='small') #{selectedKey.short_name}
          span(class='keyName') #{selectedKey.key_name}
          span(class='holder')
            span(class='small') with
            | &nbsp;#{selectedKey.current_holder}
          input(type='hidden' value=selectedKey._id name='key_id')
        else 
          select(id='key-location' name='key_id')
              option(value='' selected=1) - choose key -
              for one in keys
                  option(value=one.id) #{one.short_name} > #{one.key_name} (with #{one.current_holder})
    div(class='pure-control-group')                
        label(class='nameInput' for='holder') Who is taking it over:
        input(id='holder' type='text' value=holderName placeholder='New holder name' name='holder')
    div(class='pure-control-group') 
        button(type='submit' class='pure-button pure-button-primary') Submit Transfer


